@import "./../public/scss/variable.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.rightbutton {
  text-align: right;
}

button {
  display: inline-block;
}

/* Primary Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: #333;
}

h1 {
  font-size: 1.4em;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

/* Layout */
.s-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.s-layout__content {
  display: flex;
  width: 100%;
}

.form-main {
  float: left;
  width: 100%;
}

/* Sidebar */
.s-sidebar__trigger {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background: #192b3c;
}

.s-sidebar__trigger > i {
  display: inline-block;
  margin: 1.5em 0 0 1.5em;
  color: #f07ab0;
}

.s-sidebar__nav {
  position: fixed;
  top: 0;
  left: -15em;
  overflow: hidden;
  transition: all 0.3s ease-in;
  width: 15em;
  height: 100%;
  background: #243e56;
  color: rgba(255, 255, 255, 0.7);
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
  left: 0;
}

.s-sidebar__nav ul {
  position: absolute;
  top: 4em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
}

.s-sidebar__nav ul li {
  width: 100%;
}

.s-sidebar__nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4em;
  cursor: pointer;
}

.s-sidebar__nav-link em {
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
  background: #4d6276;
}

.s-sidebar__nav-link > i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4em;
  height: 4em;
}

.s-sidebar__nav-link > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
  .s-layout__content {
    margin-left: 4em;
  }

  /* Sidebar */
  .s-sidebar__trigger {
    width: 4em;
  }

  .s-sidebar__nav {
    width: 4em;
    left: 0;
  }

  .s-sidebar__nav:hover,
  .s-sidebar__nav:focus,
  .s-sidebar__trigger:hover + .s-sidebar__nav,
  .s-sidebar__trigger:focus + .s-sidebar__nav {
    width: 15em;
  }
}

@media (min-width: 68em) {
  .s-layout__content {
    margin-left: 15em;
  }

  /* Sidebar */
  .s-sidebar__trigger {
    display: none;
  }

  .s-sidebar__nav {
    width: 15em;
  }

  .s-sidebar__nav ul {
    top: 1.3em;
  }
}

.s-layout__sidebar {
  width: 250px;
  background: #243e56;
  padding: 10px;
  color: white;
  margin-right: 20px;

  a {
    color: white;
  }
}

.tab-content {
  width: calc(100vw - 330px);
  margin-top: 50px;
}

.listing_main {
  width: 100%;

  ul {
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    align-items: center;
    cursor: pointer;

    li {
      list-style-type: none;
    }

    .cell-number {
      font-size: 18px;
      font-weight: 600;
    }

    .chat-time {
      font-size: 14px;
    }
  }

  &.active {
    .user-circle {
      position: relative;

      &:after {
        content: "";
        display: block;
        width: 25px;
        height: 40px;
        border: solid #000;
        border-width: 0 10px 10px 0;
        transform: rotate(45deg);
        position: absolute;
        right: 9px;
        bottom: 0;
      }
    }
  }
}

// .tab-content {
//    width: 100%;
// }

.logout {
  position: absolute;
  top: 0;
  right: 32px;

  &:hover {
    text-decoration: none;
  }
}

textarea {
  resize: vertical;
  /* user can resize vertically, but width is fixed */
}

.text_area {
  background-color: #f3f3f3;
  padding: 24px;
  border: none;
  border-radius: 10px;
  resize: none;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.ul-class {
  list-style-type: circle;
}

.h2-class {
  text-align: center;
  margin-top: 10px;
  //  text-decoration: underline;
}

.broadcaster_list {
     margin: 0 auto;
  padding: 30px;
  box-shadow: 10px 10px 16px 0px #d8d8d8;
  // float: left;
  border: solid 1px #888888;
  border-radius: 12px;
  width: 50%;

  h2 {
    text-align: left;
    font-weight: 800;
    font-size: 32px !important;
  }

  ul {
    padding: 0px;
    margin: 0px;

    li {
      list-style-type: none;
      background-image: url(../public/images/ic_right.svg);
      background-size: 15px;
      background-repeat: no-repeat;
      padding-left: 20px;
      background-position: top 5px left;
    }
  }
}

.box_shaded {
  background-color: #f1f1f1;
  min-height: 120px;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 800;
  color: #243e56;
  position: relative;
  margin-bottom: 20px;

  .box-number {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 32px;
  }
}

.box_shaded_main {
  background-color: #f1f1f1;
  height: 400px;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 800;
  color: #243e56;
  position: relative;

  .box-title {
    right: 10px;
    bottom: 10px;
    font-size: 32px;
  }
}
.App {
  h1 {
    text-align: left;
  }
}
.width {
  width: 20%;
}
input[type=checkbox] {
         position: relative;
	       cursor: pointer;
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 20px;
         height: 20px;
         top: 0;
         left: -2px;
         border: 2px solid #7cd1f9;
         border-radius: 3px;
         background-color: white;
}
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 5px;
         height: 10px;
         border: solid #7cd1f9;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 6px;
}
.marginc{
  margin-left: 15px;
    font-size: 16px;
}
.divc{
   margin-bottom: 30px;
}
.textc{
  padding-top: 50px;
}
button:focus {
    outline: none;
}
.float-right{
  float: right!important;
    border-radius: 15px;
    border: darkred;
    font-size: 20px;
    cursor: pointer;
}
.mr-1{
  margin-left: 20px !important; 
}

.style{
      margin-left: 10px;
}