@import "./../public/scss/variable.scss";

.rightbutton{
  text-align: right;
}

 .btn-login {
      width: 100%;
      padding: 8px 5px;
      text-transform: uppercase;
      background: $headerColor;
      filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
      font-family: $fontProxima;
      font-weight: normal;
      font-size: 13px;
      letter-spacing: 0.2em;
      text-align: center;
      color: $whiteColor;
      border: none;
      border-radius: 4px;
    }